name: Build & Deploy Spring API in production GCP Docker-VM

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  IMAGE_NAME: news-api-latam
  IMAGE_TAG: latest
  REGION: ${{ secrets.GCP_REGION }}
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  REPO: ${{ secrets.GCP_ARTIFACT_REPO }}

jobs:
  build-and-push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Authenticate to Google Cloud using your JSON service account key
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      # Configure docker to use Artifact Registry
      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev

      # Build and push the Docker image
      - name: Build and Push image
        run: |
          REMOTE_IMAGE="${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}"

          echo "Building image: $REMOTE_IMAGE"

          docker buildx build \
            --platform linux/amd64 \
            -t "$REMOTE_IMAGE" \
            --push .
